<div class="row">
  <div class="small-12 columns">
    <h2>Submit a Question</h2>
  </div>
</div>
<div class="row Box">
  <div class="small-12 columns">
    <%= render 'form' %>
    <%= link_to 'cancel', root_path %>
  </div>
</div>

