<div class="row u-mb-3">
  <div class="small-6 columns">
    <h2>Users</h2>
  </div>
</div>
<div class="row u-mb-5">
  <div class="small-12 columns">
	  <table class="table--sort">
	    <thead>
	        <tr><th>
            Admin
          </th><th>
	          Name
	        </th><th>
	          Promote
	        </th><th>
	          Email
	        </th><th>
	          Last Login
	        </th>
	    </tr></thead>
	    <tbody>
	    <%= render @users %>
	    </tbody>
	  </table>
  </div>
</div>