<div class="row u-mb-3">
  <div class="small-6 columns">
    <h2>Your Questions</h2>
  </div>
</div>
<div class="row u-mb-2">
  <div class="small-12 columns">
    <p><%= "You've asked #{pluralize(@questions.count, 'question')}." %></p>
  </div>
</div>
<% if @questions.empty? %>
<div class="row u-mb-2">
  <div class="small-12 columns">
  <h3>You haven't asked any questions yet.</h3>
  </div>
</div>
<% end %>

<%= render @questions %>
