<% @questions.each do |question| %>
<section class="u-dividerBottomSmall">
  <div class="row u-mb-2">
    <div class="small-12 columns">
      <h4>
      <% if question.anonymous_flag == true %>
        Anonymous
      <% else %>
        <%= question.user.name %>
      <% end %> asks:</h4>
      <div class="small-10 columns">
        <p>"<%= question.copy %>"</p>
        <div class="row u-mt-2">
          <div class="small-6 columns">
            <a href="viewResponse">View response</a> <a href="response">Post a response</a>
          </div>
        </div>
      </div>
      <div class="small-2 columns">
        <div class="row u-mb-2">
          <a class="Button Button--icon Button--green Icon--check"></a>
        </div>
        <div class="row u-mb-2">
          <a class="Button Button--icon Button--red Icon--close"></a>
        </div>
        <div class="row">
          <a href="flag">Flag as inappropriate</a>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>