<div class="row Box">
  <div class="small-12 columns">
    <%= form_for @event do |f| %>
    <div class="row u-mb-1">
      <div class="small-12 columns">
        <div class="floatlabel-wrapper required" style="position:relative">
          <%= f.text_field :name, placeholder: 'Name' %>
          <%= f.text_area :description, placeholder: 'Description'%>
        </div>
      </div>
    </div>
    <div class="row u-mb-4">
      <div class="small-6 columns">
      </div>
    <div class="small-1 small-offset-2 columns">
      <p>250</p>
    </div>
    <div class="small-3 columns">
      <%= f.submit 'Create Event', class: "Button Button--green Button--fullWidth" %>
    </div>
    <% end %>
  </div>
</div>