<div class="row">
  <div class="small-12 columns">
    <h2>View and vote for questions</h2>
  </div>
</div>
<div class="row">
  <div class="u-dividerBottomSmall">
    <div class="small-12 columns">
      <h3><%= @event.name %></h3>
    </div>
  </div>
</div>
<%= render 'shared/question' %>
<div class="row">
  <div class="small-12 columns">
    <p><%= link_to 'Ask a question', new_event_question_path(@event.id) %></p>
    <p><%= link_to 'Back to all events', events_path %></p>
  </div>
</div>