<div class="row">
  <div class="small-12 columns">
    <h1>Moderator</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>View and vote for questions</h2>
  </div>
</div>
<section class="u-dividerBottomSmall">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= @event.name %></h3>
    </div>
  </div>
</section>
<%= render 'shared/question' %>