<div class="row">
  <div class="small-12 columns">
    <h2>Edit Response</h2>
  </div>
</div>

<%= render @question %>
<%= render 'edit_form' %>
<% if @question.responses.count > 0 %>
  <%= render @responses %>
<% end %>