<div class="row">
  <div class="small-12 columns">
    <h2>View Responses</h2>
  </div>
</div>
<%= render @question %>
<% if anonymous_approval_required? %>
<p class="small">This question has <%= @unapproved_anonymous_responses_count %> unapproved anonymous responses.</p>
<% end %>
<%= render @responses %>
