<div class="row u-mb-3">
  <div class="small-6 columns">
    <h2>Log in</h2>
  </div>
</div>

<div class="row u-mb-5">
  <div class="small-12 columns">
  <%= render "devise/shared/links" %>
  </div>
</div>