<!DOCTYPE html>
<html>
<head>
  <title>AMA Moderator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="small-12 columns">
    <h1>Moderator</h1>
  </div>
</div>
<%= yield %>

</body>
</html>
